@{
    RootModule        = '{{ModuleName}}.psm1'
    ModuleVersion     = '{{ModuleVersion}}'
    GUID              = '{{GUID}}'
    Author            = '{{Author}}'
    Description       = '{{Description}}'
    PowerShellVersion = '5.1'
    FunctionsToExport = @({{ExportFunctions}})
    CmdletsToExport   = @()
    VariablesToExport = @()
    AliasesToExport   = @()
}